@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline";

// own css
// main.content{
// 	margin: 52px 0 0 0 !important;
// }

@media screen and (min-width: 769px) {
	.about {
		padding: 70px 200px;
	}

	.vc {
		margin: 180px 0;
	}
}

.section {
    background-color: transparent;
}

.card-box {
    border-radius: 3px;
}


#about {
    padding-bottom: 200px;
    background: linear-gradient(-45deg, #050F2C, #174790);

    .container {
        background-image: url('/imgs/global.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;

        .title {
            color: #FFFFFF;
        }
    
        .subtitle {
            color: #FBFBFD;
        }

        .main-buttons {
            display: flex;

            a {
                color: #FBFBFD;
                background-color: #F05B29;
                margin-top: 20px;
                margin-right: 20px;
                border-color: transparent;
                height: 50px;
            }
        }

        .section-header {
            img {
                width: 200px;
                margin-bottom: 20px;
            }
        }

        .slicks {
            max-width: 300px;
            margin: 0 auto;
        }
    }
}

#showcases {
    background-color:#F4F4F7;

    .container {
        margin-top: -200px;
        padding: 50px;
        background-color: #FFFFFF;

        .feature-head {
            display: flex;
            align-items: center;

            img {
                max-width: 90px;
                width: 20%;
            }

            .title {
                margin-left: 30px;
            }
        }

        .feature-body {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

#painpoint {
    background-color: #F4F4F7;
    text-align: center;

    .section-header {
        .title {
            color: #FBFBFD;
            margin-bottom: 0.5rem;
        }

        margin-bottom: 2rem;
    }

    .columns {
        display: flex;
    }

    .arrow-down {
        margin-bottom: 0.75rem;

        i:first-child {
            color: #174790
        }

        i:last-child {
            color: #F05B29
        }
    }

    .painpoint-head {
        .column:first-child {
            background-color: #4775C5
        }
        .column:last-child {
            background-color: #F05B29
        }
    }

    .painpoint-body {
        background-color: #FFFFFF;
    }
}

#whyus {
    background-color: #FFFFFF;

    .section-header {
        .title {
            color: #FBFBFD;
            margin-bottom: 0.5rem;
        }

        margin-bottom: 2rem;
    }

    img {
        padding: 20px;
    }
}

#roadmap {
    background: linear-gradient(-45deg, #174790, #050F2C);

    p {
        color: #FAFAFA
    }

    .container {
        background-image: url('/imgs/global.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
}

#footer {
    // background-color: #233240;

    // p, .title, .subtitle {
    //     color: #fafafa;
    // }

    .content {
        a {
            color: #363636;
        }
        a:not(:last-child) {
            margin-right: 10px;
        }
    }
}
