@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline";

// own css
// main.content{
// 	margin: 52px 0 0 0 !important;
// }

@media screen and (min-width: 769px) {
	.about {
		padding: 70px 200px;
	}

	.vc {
		margin: 180px 0;
	}
}

.box.is-borderless, .box.is-squared {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.section {
    background-color: transparent;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 1.5rem;
}

.title, .subtitle {
    word-break: break-word;
}

.box.is-borderless, .box.is-squared {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.MainHero {
    position: relative;

    #angles {
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform: skewY(-12deg);
        transform-origin: 0;
        position: absolute;
        box-shadow: inset 0 -10px 80px -10px rgba(0, 0, 0, 0.1);
        background: linear-gradient(150deg, #9DC73A 15%, #64C65D 50%, #54AA4E 94%);
    }
}
#about {
    .title {
        color: #FFFFFF
    }

    .subtitle {
        color: #FBFBFD;
    }

    .phone-slides {
        background-image: url(/imgs/iPhone.png);
        background-repeat: no-repeat;
        background-position: center top;
        width: 300px;
        height: 610px;
        margin: 0 auto;

        .slicks {
            width: 280px;
            top: 50px;
            margin: 0 auto;
        }
    }
}

#showcases {
    h1 {
        margin-bottom: 0;
    }

    img {
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 10px 0px rgba(102,102,102,1);
        -moz-box-shadow: 0px 1px 10px 0px rgba(102,102,102,1);
        box-shadow: 0px 1px 10px 0px rgba(102,102,102,1);
    }

    .box {
        background-color: transparent;
    }

    i {
        fill: #0099e7;
    }
}

#roadmap {
    background: #FFFFFF
}
